/* Global Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s, color 0.3s;

  background: url('https://img.freepik.com/free-photo/blue-orange-background_1340-35728.jpg') no-repeat center center fixed;
  background-size: cover;
}

#app {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2rem;
  color: #ff6600;
}

#darkModeToggle {
  padding: 10px 15px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Filters */
#filters {
  margin: 20px 0;
  text-align: center;
}

.genres button {
  margin: 10px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.genres button:hover {
  transform: scale(1.1);
}

/* Movies Section */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  position: relative;
  background-color: #222;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.movie-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.movie-card:hover {
  transform: scale(1.05);
}

/* Dark Mode */
body.dark {
  background-color: #121212;
  color: #fff;
}

/* Footer */
footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  color: #f9f5f5;
}
